
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #f2f2f2;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.login-heading {
  font-family: Cambria;
  color: darkolivegreen;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.login-container label {
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: bold;
  color: #4e4c4cc0;
}

.login-container input[type="text"],
.login-container input[type="email"],
.login-container input[type="password"] {
  border: none;
  border-bottom: 2px solid #ddd;
  outline: none;
  font-size: 1rem;
  padding: 10px;
  width: 100%;
  transition: border-bottom-color 0.3s ease-in-out;
}

.login-container input[type="text"]:focus,
.login-container input[type="email"]:focus,
.login-container input[type="password"]:focus {
  border-bottom-color: #3498db;
}

.login-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.login-button:hover {
  background-color: #2980b9;
}

.login-container p {
  margin-top: 20px;
  font-size: 1rem;
  text-align: center;
  color: #333;
}

.login-container a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

.login-container a:hover {
  text-decoration: underline;
}

.resend-otp-button {
  margin-top: 10px;
  background-color: #ffffff;
  color: #007bff;
  border: 2px solid #007bff;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

.resend-otp-button:hover {
  background-color: #007bff;
  color: #ffffff;
}
