.navbar-container {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.navbar-left {
  margin-left: 5%;
  display: flex;
  align-items: center;
}

.navbar-left img {
  width: 50px;
  margin-right: 10px;
  cursor: pointer;
}
.navbar-left img:hover{
  opacity: 80%;
}

.add-employee button {
  margin: 20px;
  background-color: #08a1e1;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.add-employee button:hover {
  background-color: #0772a3;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.hr-name {
  font-family:Gabriola;
  color:darkslategray;
  font-size: xx-large;
  margin: 20px;
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
}
.hr-name:hover{
  color: rgb(48, 119, 119);
}

.logout-button button {
  background-color: #f70909b9;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.logout-button button:hover {
  background-color: #ad0505b9;
}
