.footer {
    height: 50px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c8cdd090;
    color: #6c757d;
    position: fixed;
    bottom: 0;
    width: 100%;
    
  }
  