.hr-update-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #f2f2f2;
}

.hr-update-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.hr-update-heading {
  font-family: Cambria;
  color: darkolivegreen;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
}



.hr-update-container label {
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: bold;
  color: #4e4c4cc0;
    margin-bottom: 8px;
}

.hr-update-container input[type="text"],
.hr-update-container input[type="email"],
.hr-update-container input[type="password"] {
  border: none;
  border-bottom: 2px solid #ddd;
  outline: none;
  font-size: 1rem;
  padding: 10px;
  width: 100%;
  transition: border-bottom-color 0.3s ease-in-out;
}

.hr-update-container input[type="text"]:focus,
.hr-update-container input[type="email"]:focus,
.hr-update-container input[type="password"]:focus {
  border-bottom-color: #3498db;
}

.hr-Submit {
  padding: 10px 20px;
  margin:20px;
  background-color: #008CBA;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.hr-Submit:hover {
  background-color: rgb(44, 102, 123);
}

.hr-Cancel{
  padding: 10px 20px;
  margin:20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: lightcoral;
}

.hr-Cancel:hover{
  background-color: rgb(254, 110, 57);
}

.hr-update-container p {
  margin-top: 20px;
  font-size: 1rem;
  text-align: center;
  color: #333;
}

.hr-update-container a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

.hr-update-container a:hover {
  text-decoration: underline;
}
